.cardItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 156px;
}

.productImage img {
  border-radius: 10px;
}

.productImage input {
  position: absolute;
}

.productPrice {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.productContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.productButtonsSection {
  display: flex;
  gap: 10px;
}

.productButton {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #eee;
  border-radius: 5px;
}

.productBuyButton {
  display: flex;
  padding: 0 13px;
  justify-content: center;
  align-items: center;
  height: 30px;
  border: none;
  background-color: #eee;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  color: #000000b5;
}

.productDescription {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}

.numberInput {
  width: 130px;
}

@media (max-width: 905) {
  .productBuyButton {
    font-size: 14px;
  }

  .productDescription {
    font-size: 14px;
  }

  .productPrice {
    font-size: 16px;
  }
  .productButtonsSection {
    gap: 5px;
  }

  .productButton {
    width: 28px;
    height: 28px;
  }

  .productBuyButton {
    height: 28px;
    padding: 0 10px;
  }

  .numberInput {
    width: 100px;
    height: 28px;
  }
  .cardItem {
    gap: 16px;
  }
}

@media (max-width: 580px) {
  .productBuyButton {
    font-size: 12px;
  }

  .productDescription {
    font-size: 12px;
  }

  .productPrice {
    font-size: 14px;
  }
  .productButtonsSection {
    gap: 5px;
  }

  .productButton {
    width: 24px;
    height: 24px;
  }

  .productBuyButton {
    height: 24px;
    padding: 0 8px;
  }

  .numberInput {
    width: 80px;
    height: 24px;
    font-size: 16px;
  }
  .cardItem {
    gap: 14px;
  }
}
