.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 16px;
}

.menu {
  background-color: var(--surface);
  border-radius: 10px;
  padding: 20px 24px;
  height: fit-content;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
  }
  .menu {
    display: none;
  }
}
