.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 16px;
  align-items: start;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    align-items: unset;
    flex-direction: column;
    grid-template-columns: auto;
  }
  .menu {
    display: none;
  }
}
