.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputs {
  display: flex;
  gap: 8px;
}

.colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.colorCheckbox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.colorCheckbox[data-checked] {
  border-color: var(--ring);
}

.colorCheckbox svg {
  width: 20px;
  height: 20px;
}
