.page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 360px;
  align-items: start;
  gap: 16px;
}

.aside {
  margin-top: 48px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .aside {
    margin-top: 0;
  }
}
