.card {
  border-radius: 10px;
  background-color: var(--surface);

  display: flex;
  flex-direction: column;
}

.preview {
  position: relative;
  aspect-ratio: 3/4;
  border-radius: 10px;

  img {
    object-fit: cover;
  }
}

.info {
  position: relative;
  padding: 8px 12px;
}

.price {
  font-weight: 500;
}

.properties {
  display: flex;
  gap: 4px;
}

.name {
  flex: 1 1 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.color {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
