.card {
  border-radius: var(--radius-xl);
  padding: 0;
  background-color: #949494;

  display: flex;
  flex-direction: column;
}

.preview {
  position: relative;
  aspect-ratio: 3/4;
  border-radius: var(--radius-xl);
}

.previewLink {
  position: absolute;
  inset: 0;
  display: block;
  color: inherit;
  text-decoration: none;
}

.previewImage {
  object-fit: cover;
  border-radius: var(--radius-xl);
}

.previewActions {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.like {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  pointer-events: auto;

  width: 32px;
  height: 32px;
  color: white;
  border: none;
  backdrop-filter: blur(2px);
}

.cart {
  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 1;
  pointer-events: auto;
}

.info {
  position: relative;
  display: block;
  padding: 8px 12px;
  color: inherit;
  text-decoration: none;
}

.price {
  font-weight: 500;
}

.properties {
  display: flex;
  gap: 4px;
}

.name {
  flex: 1 1 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.color {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  .info {
    padding: 4px 8px;
  }
  .price {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
  }
  .name {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
  }
  .color {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 6px;
    right: 6px;
  }
}