.searchBar {
  display: flex;
  width: 100%;
  gap: 26px;
  margin-bottom: 32px;
}

.searchInput {
  display: flex;
  width: 100%;
  border-radius: 5px;
  height: 38px;
  padding: 0 37px;
  color: #f3f3f3;
  background: #555;
  border: none;
}

.searchInput:focus {
  outline: 2px solid #a9a9a9;
}

.searchInput::placeholder {
  color: #b6b6b6;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #555;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  border: none;
  padding: 0;
  flex-shrink: 0;
}

.buttonIcon {
  width: 24px;
  color: white;
}
