.button {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: padding-box;
  font-size: 14px;
  line-height: calc(1.25 / 0.875);
  font-weight: 500;
  white-space: nowrap;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  outline: none;
  user-select: none;
}

.button:focus-visible {
  border-color: var(--ring);
  box-shadow: 0 0 0 3px rgba(var(--ring), 0.5);
}

.element:active:not([aria-haspopup]) {
  transform: translateY(1px);
}

.element:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.button[aria-invalid="true"] {
  border-color: var(--destructive);
  box-shadow: 0 0 0 3px color-mix(in srgb, var(--destructive) 20%, transparent);
}

.button svg {
  flex-shrink: 0;
  pointer-events: none;
  width: 1rem;
  height: 1rem;
}

.md {
  height: 32px;
}

.icon {
  width: 32px;
  height: 32px;
}

.icon-sm {
  width: 28px;
  height: 28px;

  svg {
    width: 12px;
    height: 12px;
  }
}

.primary {
  color: white;
  background-color: var(--primary);
}
.primary:hover {
  background-color: color-mix(in oklab, var(--primary) 80%, black);
}

.outline {
  color: var(--foreground);
  background-color: var(--surface);
  border-color: var(--foreground);
}
.outline:hover {
  background-color: color-mix(in oklab, var(--surface) 80%, black);
}

.ghost {
  background-color: transparent;
}
.ghost:hover {
  background-color: color-mix(in oklab, transparent 80%, black);
}
