.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 360px;
  align-items: start;
  gap: 16px;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
}
