@import "@/styles/reset.css";
@import "@/styles/theme.css";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  color: var(--foreground);
  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 500px) {
  .container {
    padding: 0 8px;
  }
}

/* Utils */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
}

/*
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
} */
