.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 0;
}

.number,
.illustration {
  pointer-events: none;
}

.number {
  width: 250px;
}
.illustration {
  width: 400px;
}

@media (max-width: 425px) {
  .illustration {
    width: 100%;
    height: auto;
  }
  .number {
    width: 200px;
  }
}
