.header {
  background: var(--accent);
  margin-bottom: 16px;
}

.header a {
  color: var(--accent-foreground-muted);
  transition: color 0.2s ease;
}

.header a:hover {
  color: var(--accent-foreground);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 32px;
  height: 32px;
}

@media (max-width: 1024px) {
  .socials {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
