.grid {
  display: grid;
  gap: 16px;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
