.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.date {
  color: var(--muted-foreground);
}
.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

@media (max-width: 768px) {
  .title {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
  }
}
