.content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.accent {
  background-color: var(--accent-transparent);
  padding: 64px 0;
}

.accentWrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.merchGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 23px;
}

.merchCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: end;
  color: #fff;

  h2 {
    font-size: 20px;
  }
}

.merchContent {
  color: var(--accent-foreground-muted);
}

.tracks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 24px;

  & > * {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 0 0;
  }
}

.backstage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 36px;

  gap: 36px;

  p {
    max-width: 600px;
  }
}

.backstageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  .tracks {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .merchGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    img {
      width: 100%;
      height: auto;
    }
  }

  .backstage img {
    width: 100%;
    height: auto;
  }
}

.heading {
  font-size: 28px;
  font-weight: 600;
}
