.card {
  background-color: var(--surface);
  border-radius: var(--radius-2xl);
  padding: 20px;
}

.dark {
  background-color: var(--accent-transparent);
  color: var(--accent-foreground);

  input {
    color: var(--accent-foreground);
    background-color: transparent;
  }
}

.medium {
  background-color: var(--accent-transparent-medium);
}

@media (max-width: 768px) {
  .card {
    padding: 16px;
  }
}
